kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: plex-config
  namespace: media
spec:
  # need ReadWriteOnce for sqlite locking issue
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 40Gi
  storageClassName: longhorn
